body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}


header .Header {
    display: flex;
    align-items: center;
    background: green;
    border: black solid 2px;
    width: 100%;
}

header .Header .WebSiteLogo h1 {
    justify-content: left;
    font-size: 45px;
    margin: 10px 930px 10px 30px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header .Header .Option {
    display: inline-flex;
    justify-content: right;
}

header .Header .Option button{
    margin: 0px 100px 0px 0px;
    color: white;
    background: none;
    border: none;
    font-size: 20px;
    text-decoration: none;
}

header .Option button:hover {
    color: lightgreen;
    cursor: pointer;
}

header .Header .Option button:active{
    color: rgb(116, 204, 116);
}

header .Header .Option a{
    color: white;
    text-decoration: none;
}

header .Header .Option a:hover{
    color: lightgreen;
}

header .Header .Option a:active{
    color: rgb(116, 204, 116);
}


table tr td {
    display: inline-block;
    border: black 2px solid;
    border-radius: 5px;
    width: 240px;
    height: 60px;
    margin: 2px;
}

.tableau{
    display: flex;
    transform: translate(0%, 25%);
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.EDTHours {
    justify-content: left;
    align-items: center;
}

.EDTHours h3{
    padding: 15px 0px 15px 0px;
}

@media screen and (max-width: 1900px) and (min-width:1800px) {
    table tr td {
        display: inline-block;
        border: black 2px solid;
        border-radius: 5px;
        width: 220px;
        height: 60px;
        margin: 2px;
    }

    header .Header .WebSiteLogo h1 {
        justify-content: left;
        font-size: 40px;
        margin: 10px 900px 10px 30px;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    header .Header .Option button{
        margin: 0px 85px 0px 0px;
        color: white;
        background: none;
        border: none;
        font-size: 20px;
        text-decoration: none;
    }
}

@media screen and (max-width: 1800px) and (min-width:1600px) {
    table tr td {
        display: inline-block;
        border: black 2px solid;
        border-radius: 5px;
        width: 203px;
        height: 60px;
        margin: 2px;
    }

    header .Header .WebSiteLogo h1 {
        justify-content: left;
        font-size: 40px;
        margin: 10px 775px 10px 30px;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    header .Header .Option button{
        margin: 0px 100px 0px 0px;
        color: white;
        background: none;
        border: none;
        font-size: 20px;
        text-decoration: none;
    }
}

@media screen and (max-width: 1600px) and (min-width:1500px) {
    table tr td {
        display: inline-block;
        border: black 2px solid;
        border-radius: 5px;
        width: 180px;
        height: 60px;
        margin: 2px;
    }

    header .Header .WebSiteLogo h1 {
        justify-content: left;
        font-size: 35px;
        margin: 10px 675px 10px 30px;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    header .Header .Option button{
        margin: 0px 110px 0px 0px;
        color: white;
        background: none;
        border: none;
        font-size: 19px;
        text-decoration: none;
    }
}
